llvmlite
matplotlib
numba
numpy
scipy
timm
wget
zipp
tensorboardx
tqdm
decord
clip-by-openai
opencv-python
pytube
transformers
pandas
pytorch-ignite
librosa
termcolor
visdom
tensorboard
scikit-learn>=1.0
torch>=1.11
torchtext>=0.12
torchvision>=0.12
nncore>=0.3.6